.home main{
    background-color: var(--colorGrisClaro);
}

.home main h2{
    color: var(--grisOscuro);
    font-size: var(--titular);
}

.general p{
    font-size: var(--precios);
}

.general span{
    font-size: var(--descuentosYDescripciones);
}
